// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #e4e5ea;
  background-color: #e4e5ea;
}

.header {
  background: #ff690f;
  background-color: #ff690f;

  .columns {
    padding: 20px !important;
    .logo-white {
      width: 128px;
    }
    .user-icon {
      width: 32px;
    }
  }
}

.sub-header {
  background: #d65600;
  background-color: #d65600;
}
