<container>
  <row>
    <columns large="6">
      <row class="footer-top">
        <columns large="2">
          <img src="{{root}}/assets/img/kayak_files/logo_circle.png" />
        </columns>
        <columns large="10">
          <span class="download">Download the app</span>
          <span class="info"></span>
        </columns>
      </row>
    </columns>

    <columns large="6">
      <row>
        <columns large="6">
          <img src="{{root}}/assets/img/kayak_files/appstore.png" />
        </columns>
        <columns large="6">
          <img src="{{root}}/assets/img/kayak_files/playstore.png" />
        </columns>
      </row>
    </columns>
  </row>
</container>
