<container>
  <row class="footer-top">
    <columns large="5">
      <row>
        <columns large="2">
          <img src="{{root}}/assets/img/kayak_files/logo_circle.png" />
        </columns>
        <columns large="9" class="download-info" valign="middle">
          <span class="download">Download the app</span>
          <span class="info">Cheap flights, hotels & more</span>
        </columns>
      </row>
    </columns>

    <columns class="store-logos" large="7">
      <row>
        <columns large="6" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/appstore.png" />
        </columns>
        <columns large="6" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/playstore.png" />
        </columns>
      </row>
    </columns>
  </row>
</container>
